@page {
  size: A4;
  margin: 1.5cm;
  font-size: 15px;
}

html {
  background-color: #ffffff;
  color: #000000;
}

header {
  margin-bottom: 4rem;
}

section {
  margin-bottom: 8rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead {
  color: #ffffff;
  background: #000000;
}

.row {
  display: flex;
  margin-bottom: 4rem;
}

.column {
  flex: 0 0 auto;
}

.column-banner-left {
  flex: 0 0 80%;
}

.column-banner-right {
  flex: 0 0 20%;
}

.logo {
  font-size: 200%;
}

.field-title {
  color: #6e6e6e;
}

.balance {
  border-top: 20px solid transparent;
}
